@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Recent Exam Centre Notice 
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Recent Examination Results
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Recent Vacancy Notice
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>
</div>

        </div>
        <div class=" col-lg-6 col-md-6 d-xs-none">
            <div id="imageCarousel" class="carousel slide" data-interval="5000" 
                 data-ride="carousel" data-pause="hover" data-wrap="true">

                <div class=" carousel-indicators">
                    <button data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"></button>
                    <button data-bs-target="#imageCarousel" data-bs-slide-to="1"></button>
                    <button data-bs-target="#imageCarousel" data-bs-slide-to="2"></button>
                    <button data-bs-target="#imageCarousel" data-bs-slide-to="3"></button>
                </div>

                <div class=" carousel-inner h-100">
                   
                    <div class=" carousel-item active">
                        <img src="~/photos/map-of-nepal-showing-new-provincial-boundaries-adapted-by-the-authors-from-ministry-of.png" class=" img-fluid w-100 h-100" />
                        
                    </div>
                    <div class=" carousel-item">
                        <img src="~/photos/psc.jpg" class="img-fluid w-100 h-100" />
                        
                    </div>
                    <div class="carousel-item">
                        <img src="~/photos/screenshot 2023-08-08 080837.jpg" class="img-fluid w-100 h-100" />

                    </div>
                    <div class="carousel-item">
                        <img src="~/photos/un.jpg"  class="img-fluid" />

                    </div>
                    
                </div>

                <button class="carousel-control-prev" type="button" data-target="#imageCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    
                </button>
                <button class="carousel-control-next" type="button" data-target="#imageCarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    
                </button>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <table class="table-bordered" style="border: thick 2px">
                <tr>
                <th class="text-info" style="font-family: Arial; font-size: 16px">
                    Crack the Irongate with us.
                </th>
                </tr>
                <tbody>
                    
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span>Public Service Commission</td>
                        
                    </tr>
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span> Bank Employement Preparation</td>
                    </tr>
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span> Teachers Service Commission</td>
                    </tr>
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span> Nepal Army</td>
                    </tr>
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span> Nepal Police</td>
                    </tr>
                    <tr>
                        <td><span class="ui-icon ui-icon-bullet"></span> Forester Preparation</td>
                    </tr>
                    <tr><td><span class="ui-icon ui-icon-bullet"></span>And Many more.....</td></tr>
                    
                </tbody>
            </table>
       </div>
    </div>
</div>
